# Arquivos auxiliares do LaTeX
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb
*.lof
*.lot
*.bbl
*.blg
*.xdv

# Arquivos de saída (como o PDF final)
*.pdf

# Diretório de saída (usado por LaTeX Workshop)
latex.out/

# Pasta personalizada para arquivos de compilação
files/
